@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Sono:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* Global Styles */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color:#222;

}
h4 {
    font-size: 20px;
    color:#222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.ban {
    font-size: 14px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body {
    width: 100%;
}
/* Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #b7d4ea;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position:sticky;
    top: 0;
    left: 0;
}
.logo {
    width: 87px;
    height: 70px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color:#D9E9F3;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content:"";
    width: 30%;
    height: 2px;
    background:#D9E9F3;
    position:absolute;
    bottom: -4px;
    left: 20px;

}
#ipad {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Home page */
#Hbody {
    background-image: url("imgs/home1.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
     justify-content: center;
}
#Hbody h4 {
    padding-bottom: 15px;
}
#Hbody h1 {
    color: #088180;
}
#Hbody p {
    color:burlywood;
}
#Hbody button {
    background-image: url("imgs/button.png");
    background-color: transparent;
    color: #3D58F1;
    border: 0;
    padding: 10px 52px 14px 60px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px; 
}
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .f-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .f-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 211, 0.1);
}
#feature .f-box img {
    width: 100%;
    margin-bottom: 10px;
}
#feature .f-box h6 {
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .f-box:nth-child(2) h6 {
    background-color: #f4f998;
}
#feature .f-box:nth-child(3) h6 {
    background-color: #F489AA;
}
#feature .f-box:nth-child(4) h6 {
    background-color: #BA54DE;
}
#feature .f-box:nth-child(5) h6 {
    background-color: #898DF8;
}
#feature .f-box:nth-child(6) h6 {
    background-color: #c4e3f7;
}
#product1 {
    text-align: center;
}
#product1 .main-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
#product1 .child {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0,2s ease;
    position: relative;
}
#product1 .child:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1 .child img {
    width: 100%;
    border-radius: 20px;
}
#product1 .child .fot {
    text-align: start;
    padding: 10px 0;
}
#product1 .child .fot span {
    color: #606063;
    font-size: 12px;
}
#product1 .child .fot h5 {
    padding-top: 7px;
    color:#1a1a1a;
    font-size: 14px;
}
#product1 .child .fot i {
    font-size: 12px;
    color: rgb(243, 181, 24);
}
#product1 .child .fot h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#product1 .child .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color:#088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("imgs/banner/ba1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4 {
    color: #fff;
    font-size: 16px;
}
#banner h2 {
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span {
    color: red;
}

#banner button:hover {
    background: #088178;
    color: #fff;
}
#s-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#s-banner .b-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imgs/banner/ba\ 2.jpg");
    width: 660px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#s-banner .b-box2 {
    background-image: url("imgs/banner/ba\ 3.jpg");
}
#s-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#s-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#s-banner span {
    color: #606063;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#s-banner .b-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}
#banner3 {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
#banner3 .b-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("imgs/banner/ba\ 4.jpg");
    width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .b-box h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 .b-box h3 {
    color: #ec544e;
    font-size: 15px;
    font-weight: 800;
}
#banner3 .box2 {
    background-image: url("imgs/banner/ba\ 5.jpg");
}
#banner3 .box3 {
    background-image: url("imgs/banner/ba\ 6.jpg");
}
#News {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #222645;
}
#News h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff;
}
#News p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}
#News p span {
    color: #ffbd27;
}

#News .form {
    display: flex;
    width: 40%;

}

#News input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#News button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}
footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}
footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow {
    padding-top: 20px ;

}
footer .follow i {
    color: #465b52;
    padding-right: 2px;
    cursor: pointer;
}
footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;   
}
footer .install img {
    margin: 10px 0 15px 0 ;
}
footer .follow i:hover,
footer a:hover {
    color: #088178;
}
/* start Media Query */
@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color:#b7d4ea;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }
    
    #navbar.active{
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #ipad {
        display: flex;
        align-items: center;
    }
    
    #ipad i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #bag {
       display: none; 
    }
    #Hbody {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

        
    #feature .f-box {
        margin: 15px 15px;
    }


    #product1 .main-container {
        justify-content: center;
    }
    #product1 .child {
       margin: 15px;
    }

    #banner {
        height: 25vh;
    }
    #s-banner .b-box {
        height: 30vh;
    }

    #News .form {
        width: 70%;
    }
}
